REACT_APP_API_KEY=sample-key
REACT_APP_API_URL=https://api2.mksmart.org
# GAM: d6a1d487-63bb-4eb4-993c-b707248aeca5
# IMMA: f9e601f0-06e6-4733-a791-ec42f3aab80e
REACT_APP_DATASET_UUID=d6a1d487-63bb-4eb4-993c-b707248aeca5
# Choose mapping system
# Selecting 'JSON' will result in a one-to-one field mapping between objects
# Whereas selecting 'RDF' will reconstruct artworks from SPARQL queries
# Sample mapping fields for the GAM museum
REACT_APP_MAPPING_MODE=JSON
REACT_APP_MAP_ID=_id
REACT_APP_MAP_TITLE=Autore
REACT_APP_MAP_AUTHOR=Titolo
REACT_APP_MAP_LOCATION=Tecnica
REACT_APP_MAP_DATE=Datazione
REACT_APP_MAP_INFO=Dimensioni
REACT_APP_MAP_SRC=Immagine