REACT_APP_API_KEY=sample-key
REACT_APP_API_URL=https://api2.mksmart.org
# IMMA: 0f286b7d-87cd-4453-8dc9-b6dc54320429
REACT_APP_ACTIVITY_DEFINITIONS_DATASET_UUID=0f286b7d-87cd-4453-8dc9-b6dc54320429
# IMMA: a5c0f5fd-7fc7-461f-b276-fddb7ede99d6
REACT_APP_HUNT_DEFINITIONS_DATASET_UUID=a5c0f5fd-7fc7-461f-b276-fddb7ede99d6
# GAM: d6a1d487-63bb-4eb4-993c-b707248aeca5
# IMMA: f9e601f0-06e6-4733-a791-ec42f3aab80e
REACT_APP_DATASET_UUID=f9e601f0-06e6-4733-a791-ec42f3aab80e
# Choose mapping system
# Selecting 'JSON' will result in a one-to-one field mapping between objects
# Whereas selecting 'RDF' will reconstruct artworks from SPARQL queries
# Sample mapping fields for the GAM museum
REACT_APP_MAPPING_MODE=RDF
REACT_APP_MAP_ID=_id
REACT_APP_MAP_TITLE=Autore
REACT_APP_MAP_AUTHOR=Titolo
REACT_APP_MAP_LOCATION=Tecnica
REACT_APP_MAP_DATE=Datazione
REACT_APP_MAP_INFO=Dimensioni
REACT_APP_MAP_SRC=Immagine